[Unit]
Description=Tetras-back Service
After=network.target

[Service]
Type=simple
User=root
ExecStop=/usr/local/sbin/tetras-back --stop
ExecStart=/usr/local/sbin/tetras-back --daemon
Restart=on-fail


[Install]
WantedBy=multi-user.target
