[Unit]
Description=Tetras-back Service
After=network.target

[Service]
Type=simple
User=root
ExecStop=/usr/local/sbin/tetras-back --stop
ExecStartPre=rm -f /var/run/tetras-back.fifo
ExecStart=/usr/local/sbin/tetras-back --start
Restart=on-fail


[Install]
WantedBy=multi-user.target
